{% extends "todo/main.html"%}
{% block title %} add {% endblock %}

{% block add %}
    <form action="{% url 'todo:task' %}" method="post">
        {% csrf_token %}
        <input type="checkbox" name="subscription" value="yes">
        <input type="text" name="text">
        <input type="submit" value="send it">
    </form>
    <div>
    <a href="{%url 'todo:task' %}"> go task  </a>
    </div>
{%endblock%}

{%block ul%}
    {% for item in ta %}
    <li>{{item}}</li>
    {%if item == 34%}
        <div>
        <a href="{% url 'todo:task'%}"> logic </a>
        </div>
    {%endif%}
    {%endfor%}
{%endblock%}