{% extends "todo/main.html"%}
{% load static%}

{% block title %} 
    add 
{% endblock %}

{%block link%}
    <link rel="stylesheet" href="{% static 'add.css' %}"">
{%endblock%}

{% block add %}
<div>
    <form action="{% url 'todo:submit' %}" method="get">
        <p>  do you want to subscribe to chanel 
        <input type="checkbox" name="subscription" value="yes">
        </p>
        <P>enter your email</P>
        <input type="text" name="text">
        <div id="special">
        <input type="submit" value="send it">
        </div>
    </form>
    <a href="{%url 'todo:task' %}"> go task  </a>

</div>
    <form action="{% url 'todo:submit' %}" method="get">
            {{Form}}
            <input type="submit" value="send">
    </form>
{%endblock%}

{%block ul%}
    {% for item in ta %}
    <li>{{item}}</li>
    {%if item == 34%}
        <div>
        <a href="{% url 'todo:task'%}"> logic </a>
        </div>
    {%endif%}
    {%endfor%}

{%endblock%}